# --- Source Control & Config ---
.git/
.gitignore
.github/
.vscode/
.dockerignore
Dockerfile

# --- Dependencies & Builds ---
node_modules
dist/
build/

# --- System Files ---
.DS_Store
npm-debug.log
yarn-error.log