.env
.vscode
.DS_Store
node_modules
assets
dist
assets/client.bundle.js
dist/app.bundle.js
yarn-error.log
credentials.json
token.json
drive-files-dump.json
client_secret_160250970666-eofi1rkudvcbhf3n3fheaf7acc3mak8c.apps.googleusercontent.com.json