// mixin for Main Curated Container
@mixin curated_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 100%;
  .phillips-lot {
    display: flex;
    flex-flow: row wrap;
    flex: none;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

// mixin for TwoRows Three Columns-specific Container
@mixin tworows-threecolumns-containers {
  @each $position in left, middle, right {
    .container_tworows_threecolumns-feature_#{$position}-container {
      @include curated_container;
      .container_tworows_threecolumns-feature_#{$position} {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        width: 100%;
        @media (min-width: $sm-bp) {
          width: calc(33.333333% - #{$marginsize});
          margin-right: $marginsize;
        }
      }
      .container_tworows_threecolumns-feature_left,
      .two_singles_container.container_tworows_threecolumns-top_left {
        order: 1;
      }
      .two_singles_container.container_tworows_threecolumns-top_middle,
      .container_tworows_threecolumns-feature_middle {
        order: 2;
      }
      .two_singles_container.container_tworows_threecolumns-top_right,
      .container_tworows_threecolumns-feature_right {
        order: 3;
      }
    }
  }
}

.container_tworows_twocolumns-feature_left-container,
.container_tworows_twocolumns-feature_right-container {
  @include curated_container;
  .two_singles_container.container_tworows_twocolumns-top_left,
  .phillips-lot.container_tworows_twocolumns-feature_left {
    order: 1;
  }
  .two_singles_container.container_tworows_twocolumns-top_right,
  .phillips-lot.container_tworows_twocolumns-feature_right {
    order: 2;
  }
}

@include tworows-threecolumns-containers;

.two_singles_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  width: 100%;
  @media (min-width: $sm-bp) {
    width: calc(33.333333% - #{$marginsize});
    margin-right: $marginsize;
  }
}

.container_tworows_twocolumns-feature_right,
.container_tworows_twocolumns-feature_left {
  width: 66.666667%;
  align-self: flex-end;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  @media (min-width: $sm-bp) {
    width: calc(66.666667% - 40px);
    margin-right: 40px;
  }
}

// two-columns featured-center BEGIN
.container_tworows_twocolumns-feature_center-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: calc(50% - #{$marginsize/2});
  margin: em(16) em(20) em(16) 0;
  @media (min-width: $sm-bp) {
    width: calc(33.33333% - #{$marginsize/2});
    margin: em(22) 0;
  }
  @media (min-width: $md-bp) {
    width: calc(100% - #{$marginsize});
    margin-right: $marginsize;
  }
}
.container_tworows_twocolumns-feature_center {
  width: 66.666667%;
}

// two-columns featured-center END

.onerow_twocolumns-left,
.onerow_twocolumns-right {
  width: calc(50% - (#{$marginsize} / 2));
  flex-basis: calc(50% - (#{$marginsize} / 2));
  margin-right: $marginsize / 2;
  @media (min-width: $md-bp) {
    width: calc(50% - 40px);
    flex-basis: calc(50% - 40px);
  }
}

.onerow_twocolumns-left {
  @media (min-width: $md-bp) {
    margin-right: 20px;
  }
}
.onerow_twocolumns-right {
  @media (min-width: $md-bp) {
    margin-right: 0px;
    margin-left: 20px;
  }
}

.two-columns-one-row,
.two-columns-one-row-no-pad,
.two-rows-two-columns {
  @media (min-width: $md-bp) {
    width: calc(66.666667% - #{$marginsize});
    margin: em(22) #{$marginsize} em(22) 0;
  }
}

.two-rows-two-columns {
  height: $row-height * 2 + 30;
}

.three-columns {
  width: calc(100% - 40px);
  margin-right: 40px;
  text-align: center;
}
@mixin curated-toggle {
  .curated-toggle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    // &__button-wrapper {

    // }
    &__button {
      background: transparent;
      box-shadow: none;
      border: none;
      font-family: $seroWebPro;
      padding: 0.25em;
      outline: none;
      &:hover,
      &:focus,
      &:active {
        outline: none;
      }
      &--active {
        font-family: $seroMedium;
        text-decoration: underline;
      }
    }
    @content;
  }
}
// end curated grid styles
