@import '_articker';
@import 'components';
@import 'vars';
@include favorite-lot;
@include follow-artist;
@include phillips-lot;
@include phillips-lot-list;
@include phillips-share;
@include articker__headlines;

#artist-lot-list {
  @include consignment-aside;
  min-height: 450px;
  font-family: $seroWebPro;
  //noinspection ALL
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  h1 {
    font-family: $seroWebPro;
    font-size: em(36, 16);
    // text-align: center;
    margin: 0;
  }
  h3 {
    font-size: em(18, 16);
    line-height: em(23, 18);
    font-family: $seroMedium;
    text-transform: none;
  }
  h4 {
    font-size: em($basefontsize, $tiny-fontsize);
  }
  a {
    &.toggle-form {
      font-family: $seroWebPro;
      color: #000000;
      font-size: em(13, 16);
      line-height: em(24, 13);
      text-transform: uppercase;
      &:not(.cancel) {
        display: block;
      }
    }
  }
  form {
    input {
      margin: 0 auto $sm-marginsize 0;
      padding: $marginsize/4;
      font-size: em(13, 16);
      font-family: $seroWebPro;
      //text-transform: uppercase;
      width: calc(100% - #{$sm-marginsize});
      float: left;
      border: 2px solid $borderDark;
      border-radius: 0;
      display: block;
      line-height: em(23, 11);
      height: 42px;
      &.error {
        box-shadow: 0 0 2px 1px rgb(210, 35, 42);
      }
      &.last {
        margin-bottom: $sm-marginsize * 2;
      }
      &[type='submit'] {
        // padding: 0 10px;
        max-width: 135px;
        margin-right: $sm-marginsize;
      }
      &[type='checkbox'] {
        width: 26px;
        margin: 0 $sm-marginsize 0 0;
      }
      &::-webkit-input-placeholder, &:-moz-placeholder /* Firefox 18- */, &::-moz-placeholder /* Firefox 19+ */, &:-ms-input-placeholder {
        color: rgb(0, 0, 0);
        font-family: $seroWebPro;
        //padding-top: 2.5px;
        font-size: $tiny-fontsize;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: rgb(0, 0, 0);
        font-family: $seroWebPro;
        font-size: $tiny-fontsize;
        padding-left: $marginsize/4;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgb(0, 0, 0);
        font-family: $seroWebPro;
        font-size: $tiny-fontsize;
        padding-left: $marginsize/4;
      }
      &:-ms-input-placeholder {
        color: rgb(0, 0, 0);
        font-family: $seroWebPro;
        font-size: $tiny-fontsize;
        padding-left: $marginsize/4;
      }
    }
    span {
      float: left;
      width: calc(100% - #{$sm-marginsize});
      font-size: em(13, 16);
      line-height: em(42, 13);
      text-align: left;
      &.text-right {
        text-align: right;
      }
      &.text-danger {
        color: rgb(210, 35, 42);
      }
      &:after {
        clear: both;
      }
    }
    .float_wrapper {
      &:before,
      &:after {
        display: table;
        content: '';
      }
      &:after {
        clear: both;
      }
    }
    .form-controls {
      clear: both;
      overflow: hidden;
      .button {
        &:last-child {
          float: right;
        }
      }
    }
  }
  .description {
    text-decoration: none;
    display: block;
    p {
      line-height: em(19, 12);
      &.artist {
        font-size: em(15);
        font-family: $seroMedium;
        strong {
          text-transform: uppercase;
        }
      }
      &.number {
        font-family: $seroMedium;
        font-size: em(18);
      }
      &.sold {
        color: $sold-red;
        font-family: $seroMedium;
        text-transform: uppercase;
      }
      &.title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: none;
      }
    }
    strong {
      text-transform: none;
    }
  }
  .user-actions {
    min-height: 45px;
  }
  #nat-birth,
  #maker-bio p {
    text-transform: none;
    font-size: 1em;
    font-family: $seroWebPro;
    line-height: em(26);
  }
  #maker-bio {
    margin-bottom: em(80);
    h3 {
      text-transform: none;
    }
    h3:first-child {
      margin-top: 1em;
    }
    .col-sm-6:not(.quote) {
      p,
      li {
        font-size: em(15);
        line-height: em(22, 15);
        margin-bottom: $marginsize/2 + 2px;
        &:last-child {
          margin-bottom: 0;
        }
        > p {
          font-size: 1em;
        }
      }
    }
    .quote {
      text-align: center;
      p {
        width: calc(100% - #{$marginsize + 20px});
        margin: $marginsize + $marginsize/2 auto 0 auto;
      }
    }
    .solo {
      h3 {
        text-align: center;
      }
    }
    .read-more-overlay {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 50%, white) 100% bottom;
      background: linear-gradient(rgba(255, 255, 255, 0) 50%, white) 100% bottom;
    }
    .read-more-button {
      display: none;
      position: absolute;
      left: 50%;
      bottom: 0;
      z-index: 11;
      transform: translateX(-50%);
      border: 2px solid $borderDark;
      background: #fff;
      padding: 0.5rem 2rem;
      color: #000;
      font-size: $medium-fontsize;
      cursor: pointer;
    }
    &.read-more {
      max-height: 200px;
      overflow: hidden;
      position: relative;
      .read-more-overlay {
        display: block;
      }
      .read-more-button {
        display: block;
      }
    }
    @media screen and (min-width: $sm-bp) {
      margin-top: -30px;
      h3:first-child {
        margin-top: 0;
      }
      .col-sm-6 {
        margin-top: em(80);
        &.biography {
          //width: calc(50% - 40px);
          padding-right: $marginsize - 2px;
          border-right: 2px solid $light;
        }
        &.insights {
          padding-left: $marginsize - 2px;
          h3 {
            padding-left: $sm-marginsize * 2;
          }
          > p {
            font-size: 1em;
          }
        }
      }
      .quote {
        margin-top: em(80);
        align-self: center;
        p {
          max-width: 420px;
          margin: 0 auto;
          font-size: 1em;
          font-family: $seroWebPro;
          line-height: em(26);
        }
      }
      .solo {
        margin-top: em(80);
        width: 60%;
        margin-left: auto;
        margin-right: auto;

        h3 {
          text-align: center;
        }

        p {
          margin-bottom: 22px;
        }
      }
      &.read-more {
        max-height: 350px;
      }
    }
  }
  .empty-grid {
    text-align: center;
    p {
      text-transform: none;
      font-size: 1rem;
    }
  }
  .back-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .image {
    position: relative;
    .artist-social {
      .social-action {
        display: inline-block;
      }
    }
  }
  .new-phillips-social {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    &.centered {
      justify-content: center;
    }
    h2 {
      margin: 0;
    }
    .follow-artist {
      border: none;
      height: 36px;
      margin-left: $mobileMargin;
      font-size: em(13, 16);
      .icon {
        height: 30px;
        width: 30px;
        background-position-y: -34px;
        &.active {
          background-position-y: -65px;
        }
      }
      &:hover {
        background-color: transparent;
      }
      &:focus,
      &:active {
        outline: none;
      }
    }
    &--margin-bottom-80 {
      margin-bottom: 80px;
    }
  }
  .phillips-lot {
    .user-actions-container {
      display: flex;
      justify-content: center;
      & > * {
        margin: 0 5px;
        outline: none;
      }
      .phillips-share {
        .icon {
          -ms-background-position-y: -216px;
          background-position-y: -216px;
        }
      }
    }
    .user-actions {
      display: block;
      position: relative;
      opacity: 1;
      @media screen and (min-width: $lg-bp) {
        opacity: 0;
        transition: opacity ease-in 100ms;
        & > * {
          margin: 0 10px;
        }
      }
    }
    @media screen and (min-width: $lg-bp) {
      &:hover {
        .user-actions {
          display: block;
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (min-width: $sm-bp) {
  .touch {
    #artist-lot-list {
      ul.standard-grid {
        li {
          .description {
            padding-top: 0;
          }
        }
      }
    }
  }
}
