@import 'articker';
@include follow-artist;
@include phillips-maker;
// @include articker__bulletin;
h1 {
  font-family: $portrait;
  text-transform: none;
}
.artists-bulletin-page {
  display: flex;
  flex-flow: column nowrap;
}
.articker {
  &__bulletin {
    padding: 0;
    &__item {
      margin: 0 auto 30px;
      display: block;
      @media screen and (min-width: $sm-bp) {
        display: flex;
        flex-flow: row nowrap;
        margin: 0 auto 60px;
      }
      &__description {
        @media screen and (min-width: $sm-bp) {
          display: flex;
          flex-flow: column nowrap;
        }
      }
      &__ranking {
        float: left;
        font-size: em(90);
        margin-right: 20px;
        @media screen and (min-width: $sm-bp) {
          float: none;
        }
      }
    }
  }
  &__maker-name {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    text-transform: none;
    font-family: $portrait;
    margin: 0;
  }
  &__domain {
    @include phillips-eyebrow;
  }
}
