@import 'components';
@import 'cms/vars';
@import 'cms/sortable';
@import 'cms/alerts';
@import 'cms/editorials';
@import 'cms/lot-components';

body {
  background-color: $white;
}

.ckeditor {
  @include rich-text {
    text-align: left;
  }
}

li {
  list-style-type: none;
}

.image-preview {
  i {
    position: absolute;
    right: 50px;
    background-color: white;
    cursor: pointer;
  }
}
