@import 'vars';
// VARIABLES & MIXINS
@mixin silver-grey-bkg {
  background: #c8d7dc;
  background: -moz-linear-gradient(-45deg, #c8d7dc 0%, #e3eaed 37%, #f2f5f6 40%, #e3eaed 63%, #c8d7dc 100%);
  background: -webkit-linear-gradient(-45deg, #c8d7dc 0%, #e3eaed 37%, #f2f5f6 40%, #e3eaed 63%, #c8d7dc 100%);
  background: linear-gradient(135deg, #c8d7dc 0%, #e3eaed 37%, #f2f5f6 40%, #e3eaed 63%, #c8d7dc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8d7dc', endColorstr='#c8d7dc',GradientType=1);
}

$medium-grey: #999;

// HOMEPAGE CMS STYLES BEGIN
.container {
  max-width: 100%;
}

.add-button-wrapper {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: 3px 2px 2px #e5e5e5;
  margin-bottom: 50px;
  padding: 20px 30px 10px 20px;
}

.edit-overlay {
  &__button {
    font-family: $portrait;
    font-size: 1.75rem;
    text-transform: none;
    background: transparent;
    border: none;
    outline: none;
    &:hover {
      color: rgb(30, 129, 255);
    }
  }
}

button.btn.edit-homepage {
  background-color: #000;
  color: #fff;
  margin: 3px 0;
  padding: 5px 25px;
  font-weight: lighter;
  border: 1px solid #000;
  border-radius: 0;
  text-shadow: 0px 0px 0px;
}

button.edit-homepage:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.pending-request {
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    z-index: 50;
    width: 30px;
    height: 30px;
    background: url('/img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.autocomplete-input {
  border-bottom: 1px solid $medium-grey;
  margin: 10px auto;

  .autocomplete-list {
    list-style: none;
    padding-left: 5px;
  }

  li {
    cursor: pointer;
    padding: 5px 0;

    &:hover {
      font-weight: bold;
    }
  }
}

form input[type='submit'] {
  display: block;
  margin: 0 30%;
  width: 40%;
  background-color: #000;
  color: #fff;
  border: 0;
  padding: 6px 9px;
  font-weight: lighter;
}

div.modal-header {
  border: 1px solid #e5e5e5;
  border-radius: 4px 4px 0 0;
  background-color: #000;
  padding: 0;
  margin: 0;
  max-height: 24px;
}

div.modal-header button.close {
  color: #fff;
  opacity: 1;
  font-weight: lighter;
  line-height: 16px;
  margin-right: 8px;
}

div.modal-body form > div {
  padding-bottom: 3px;
}

div.modal-body label {
  background-color: #000;
  color: #fff;
  margin: 3px 10px 30px 0;
  padding: 6px 9px;
  font-weight: lighter;
}

div.medium-wrapper label {
  margin-top: 30px;
  margin-bottom: 3px;
}

div.modal-body label.radio-inline {
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  border: 0;
}

div.modal-body label.radio-inline > #active1 {
  margin-left: -23px;
}

div.modal-body select {
  padding: 10px;
}

div.modal-body input {
  width: 80%;
}

div.medium-wrapper div.ckeditor {
  border: 1px dashed #bbb;
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 25px;
}

div.medium-wrapper div.ckeditor {
  margin-top: 0;
  min-height: 5em;
}

div.modal-body img.img-responsive {
  border: 1px dashed #bbb;
  border-radius: 8px;
  padding: 10px;
}

div.modal-body img.img-responsive + label {
  margin: 30px 0 3px 0;
}

div.modal-body input.imageUrl {
  width: 90%;
  border: 0;
  margin-bottom: 30px;
}

// HOMEPAGE VIDEO BEGIN
.homepage {
  .phillips-video {
    box-shadow: 0px -10px 8px -6px #e5e5e5;
    padding-bottom: 2em;
    border: 1px solid #e3e3e3;
    border-bottom: none;
    .hp-video-thumbnails {
      margin-bottom: 0;
    }
  }
  .sticky-info {
    h2 {
      text-align: center;
    }
    .sticky-img {
      text-align: right;
    }
  }
  #video-form {
    border: 1px solid #e3e3e3;
    border-top: none;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 0px 10px 8px -6px #e5e5e5;
    margin-bottom: 4em;
    padding-top: 2em;
    > span {
      display: flex;
      justify-content: center;
      align-items: baseline;
      border-top: 1px solid #e3e3e3;
      padding-top: 20px;
      max-width: 850px;
      margin: 0 auto;
      width: 100%;
      h2 {
        margin: 0;
      }
      h2,
      p {
        text-align: center;
      }
    }
    .add-button-wrapper {
      border: none;
      box-shadow: none;
    }
    .carousel-track {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      > * {
        transition: 0.2s;
        border-radius: 1em;
      }
      .phillips-carousel-item {
        &:hover {
          & ~ .phillips-carousel-item {
            transform: translateX(100px);
            .cms-video {
              box-shadow: none;
            }
          }
        }
        &:not(:first-child) {
          margin-left: -100px;
        }
      }
      .cms-video {
        position: relative;
        box-shadow: -9px 0 14px -1px rgba(0, 0, 0, 0.25);
        > img {
          border-radius: 1em;
        }
        > div {
          position: absolute;
          bottom: 0;
          background: rgba(0, 0, 0, 0.7);
          color: white;
          width: 100%;
          height: 33%;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          border-bottom-left-radius: 1em;
          border-bottom-right-radius: 1em;
          h2 {
            margin: 0;
            font-family: $seroWebPro;
            font-size: 1rem;
          }
        }
      }
    }
  }
  .phillips-carousel {
    &--buy-now {
      &__container {
        border: none;
      }
    }
  }
}

form.video {
  .image-input {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    img {
      width: 33.333333%;
    }
  }
}

// HOMEPAGE VIDEO END

// HOMEPAGE CMS STYLES END

// ARTISTS & MAKERS STYLES BEGIN
#artist-landing {
  .carousel-editor {
    margin: 0;
    width: 100%;
    justify-content: space-between;
    @include silver-grey-bkg;
    &:before,
    &:after {
      display: none;
    }
    form {
      display: flex;
      align-items: center;
      span.label {
        color: black;
      }
      input[type='text'] {
        padding: 5px;
      }
      input[type='submit'] {
        margin: 0;
      }
    }
    button {
      min-width: 125px;
      background: black;
      color: white;
      &.delete-carousel {
        background: red;
      }
    }
  }
}

.maker-editor-wrapper {
  min-height: 28px;
  border-radius: 10px 10px 0 0;
  background: radial-gradient(
      circle at left,
      transparent,
      #99eb47,
      #99eb47 3.36927%,
      transparent 3.36927%,
      transparent 6.73854%,
      #b3e87d 6.73854%,
      #b3e87d 10.10782%,
      transparent 10.10782%,
      transparent 13.47709%,
      #ccebad 13.47709%,
      #ccebad 16.84636%,
      transparent 16.84636%,
      transparent 20.21563%,
      #a6ed5e 20.21563%,
      #a6ed5e 23.58491%,
      transparent 23.58491%,
      transparent 26.95418%,
      #ccebad 26.95418%,
      #ccebad 30.32345%,
      transparent 30.32345%,
      transparent 33.69272%,
      #b3e87d 33.69272%,
      #b3e87d 37.06199%,
      transparent 37.06199%,
      transparent 40.43127%,
      #99eb47 40.43127%,
      #99eb47 43.80054%,
      transparent 43.80054%,
      transparent 47.16981%
    ),
    radial-gradient(
      circle at right,
      transparent,
      #99eb47 0%,
      #99eb47 3.36927%,
      transparent 3.36927%,
      transparent 6.73854%,
      #b3e87d 6.73854%,
      #b3e87d 10.10782%,
      transparent 10.10782%,
      transparent 13.47709%,
      #ccebad 13.47709%,
      #ccebad 16.84636%,
      transparent 16.84636%,
      transparent 20.21563%,
      #a6ed5e 20.21563%,
      #a6ed5e 23.58491%,
      transparent 23.58491%,
      transparent 26.95418%,
      #ccebad 26.95418%,
      #ccebad 30.32345%,
      transparent 30.32345%,
      transparent 33.69272%,
      #b3e87d 33.69272%,
      #b3e87d 37.06199%,
      transparent 37.06199%,
      transparent 40.43127%,
      #99eb47 40.43127%,
      #99eb47 43.80054%,
      transparent 43.80054%,
      transparent 47.16981%
    ),
    radial-gradient(
      circle at left,
      transparent,
      #99eb47 0%,
      #99eb47 3.36927%,
      transparent 3.36927%,
      transparent 6.73854%,
      #b3e87d 6.73854%,
      #b3e87d 10.10782%,
      transparent 10.10782%,
      transparent 13.47709%,
      #ccebad 13.47709%,
      #ccebad 16.84636%,
      transparent 16.84636%,
      transparent 20.21563%,
      #a6ed5e 20.21563%,
      #a6ed5e 23.58491%,
      transparent 23.58491%,
      transparent 26.95418%,
      #ccebad 26.95418%,
      #ccebad 30.32345%,
      transparent 30.32345%,
      transparent 33.69272%,
      #b3e87d 33.69272%,
      #b3e87d 37.06199%,
      transparent 37.06199%,
      transparent 40.43127%,
      #99eb47 40.43127%,
      #99eb47 43.80054%,
      transparent 43.80054%,
      transparent 47.16981%
    ),
    radial-gradient(
      circle at right,
      transparent,
      #99eb47 0%,
      #99eb47 3.36927%,
      transparent 3.36927%,
      transparent 6.73854%,
      #b3e87d 6.73854%,
      #b3e87d 10.10782%,
      transparent 10.10782%,
      transparent 13.47709%,
      #ccebad 13.47709%,
      #ccebad 16.84636%,
      transparent 16.84636%,
      transparent 20.21563%,
      #a6ed5e 20.21563%,
      #a6ed5e 23.58491%,
      transparent 23.58491%,
      transparent 26.95418%,
      #ccebad 26.95418%,
      #ccebad 30.32345%,
      transparent 30.32345%,
      transparent 33.69272%,
      #b3e87d 33.69272%,
      #b3e87d 37.06199%,
      transparent 37.06199%,
      transparent 40.43127%,
      #99eb47 40.43127%,
      #99eb47 43.80054%,
      transparent 43.80054%,
      transparent 47.16981%
    ),
    #99e052;
  background-size: 4em 4em;
  background-position: 0 0, 0 2em, 2em 0, 2em 2em;
  background-blend-mode: overlay, overlay, normal, normal;
  width: auto;
  z-index: 25;

  .edit-tab {
    position: relative;
    height: 28px;

    button {
      text-shadow: hsla(0, 0%, 40%, 0.5) 0 -1px 0, hsla(0, 0%, 100%, 0.6) 0 2px 1px;
      background: transparent;
      border: none;
      margin-right: 8px;
      display: inline-block;
      height: 24px;
    }
  }

  .maker-editor {
    margin-top: -4px;

    input {
      &[type='text'] {
        background: transparent;
        padding: 3px;
        margin-bottom: 5px;
      }
    }
  }
}

// ARTISTS & MAKERS STYLES END
