




@font-face
{
    font-family: 'SeroWebPro';
    src: url('SeroWebPro.eot');
    src: local('☺'), url('SeroWebPro.eot?#iefix') format('embedded-opentype'), url('SeroCompPro.ttf'), url('SeroWebPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/*
@font-face {
    font-family: 'SeroLight';
    src: url('SeroWebPro-light.eot');
    src: local('☺'),
         url('SeroWebPro-light.eot?#iefix') format('embedded-opentype'),
         url('SeroCompPro-Light.ttf'),
         url('SeroWebPro-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*/




@font-face
{
    font-family: 'SeroWebPro';
    src: url('SeroWebPro-Medium.eot');
    src: local('☺'), url('SeroWebPro-Medium.eot?#iefix') format('embedded-opentype'), url('SeroCompPro-Medium.ttf'), url('SeroWebPro-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: 'SeroMedium';
    src: url('SeroWebPro-Medium.eot');
    src: local('☺'), url('SeroWebPro-Medium.eot?#iefix') format('embedded-opentype'), url('SeroCompPro-Medium.ttf'), url('SeroWebPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'SeroBold';
    src: url('SeroWebPro-Bold.eot');
    src: local('☺'), url('SeroWebPro-Bold.eot?#iefix') format('embedded-opentype'), url('SeroCompPro-Bold.ttf'), url('SeroWebPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'SeroItalic';
    src: url('SeroWebPro-Italic.eot');
    src: local('☺'), url('SeroWebPro-Italic.eot?#iefix') format('embedded-opentype'), url('SeroCompPro-Italic.ttf'), url('SeroWebPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}







.filter .filter-header span
{
    font-family: 'SeroMedium';
    font-weight: normal !important;
    letter-spacing: 0.19em;
}

h2.lot-number, h2.lot-artist
{
    font-family: 'SeroMedium';
    font-weight: normal;
}

h1.lot-title
{
    font-family: 'SeroItalic';
    font-style: normal !important;
}

    h1.lot-title span.year
    {
        font-family: 'SeroWebPro' !important;
        font-style: normal !important;
    }


div.lot-number-of-count
{
    font-family: 'SeroMedium';
    font-weight: normal !important;
}

span.estimate strong
{
    font-family: 'SeroMedium';
    font-weight: normal !important;
}

li.lot div.lot-info span.lot-num,
li.lot div.lot-info strong.maker
{
    font-family: 'SeroMedium';
    font-weight: normal !important;
}

li.lot div.lot-info em
{
    font-family: 'SeroItalic';
    font-style: normal !important;
}

li.lot div.lot-info p strong
{
    font-family: 'SeroMedium';
    font-weight: normal !important;
}

.sold
{
    font-family: 'SeroMedium';
    font-weight: normal !important;
    text-transform: uppercase;
}

.search-result-item .search-result-text .maker
{
    font-family: 'SeroMedium';
    font-weight: normal !important;
}

.search-result-item .search-result-text em
{
    font-family: 'SeroItalic';
    font-style: normal !important;
}


p.highlight-caption b,
p.highlight-caption strong
{
    font-family: 'SeroMedium';
    font-weight: normal !important;
}

p.highlight-caption i,
p.highlight-caption em
{
    font-family: 'SeroItalic';
    font-style: normal !important;
}



.gallery-top-row-item
{
    font-family: 'SeroWebPro' !important;
}




.header .auction-info .title-immediate,
.lot-auction-banner a span.title-immediate,
.past-auction-banner strong.title-immediate
{
    font-family: 'SeroMedium';
    font-weight: normal !important;
}


.auction-info-pane div h2
{
    font-size: 26px !important;
    font-weight: 100 !important;
    letter-spacing: 0.065em;
}

.auction-info-pane div p
{
    letter-spacing: 0.08em;
}


body
{
    font-family: 'SeroWebPro', sans-serif;
}


.lot-auction-banner
{ /*font-family:Arial;*/
}


.footer
{
    font-family: arial;
}



/*  AUCTION PAGE */

.auction-contact-info div
{
    line-height: 24px;
}


/*LOTS IN GALLERY */


ul.gallery-items li div span.lot-num
{
    font-size: 19px;
    font-weight: bold;
    display: block;
    margin: 0 0 4px 0;
}

ul.gallery-items li div p.sold
{
    font-weight: bold;
    color: #e20078;
}

ul.gallery-items li div strong
{
    color: #000;
    font-weight: bold;
}

ul.gallery-items li div
{
    font-size: 13px;
}

    ul.gallery-items li div span,
    ul.gallery-items li div strong,
    ul.gallery-items li div em,
    ul.gallery-items li div p
    {
        margin: 0;
        line-height: 18px;
        font-size: 13px;
    }

        ul.gallery-items li div strong.maker
        {
            font-size: 14px;
            text-transform: uppercase;
        }





/* LOT DETAILS */

h1.lot-title span.year
{
    font-style: normal !important;
}

.lot-item-info h1.lot-title
{
    font-weight: normal !important;
}

.lot-item-info h2.lot-artist
{
    font-size: 25px;
    text-transform: uppercase;
}

.lot-item-info p
{
    font-size: 13px;
}

span.estimate strong
{
    font-size: 13px;
}

.lot-item-info h4.preface
{
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

.lot-item-info h1.lot-title
{
    font-size: 23px;
    font-style: italic;
}

span.estimate
{
    font-size: 13px;
    text-transform: capitalize;
}






















/* PAST AUCTIONS */

div.past-auctions-gallery div.auction div.info h2
{
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
}

div.past-auctions-gallery div.auction div.info h3
{
    font-size: 15px;
    font-weight: normal;
}


    div.past-auctions-gallery div.auction div.info h2 a,
    div.past-auctions-gallery div.auction div.info h3 a
    {
        text-decoration: none;
    }
