@import 'vars';
@font-face {
  font-family: 'Portrait';
  src: url('./fonts/Portrait/Portrait-Bold-Web.eot');
  src: url('./fonts/Portrait/Portrait-Bold-Web.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Portrait/portrait-bold-web-webfont.woff2') format('woff2'),
    url('./fonts/Portrait/portrait-bold-web-webfont.woff') format('woff'),
    url('./fonts/Portrait/Portrait-Bold-Web.ttf') format('truetype'),
    url('./fonts/Portrait/Portrait-BoldItalic-Web.svg') format('svg');
}

@font-face {
  font-family: 'PortraitItalic';
  src: url('./fonts/Portrait/Portrait-BoldItalic-Web.eot');
  src: url('./fonts/Portrait/Portrait-BoldItalic-Web.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Portrait/portrait-bolditalic-web-webfont.woff2') format('woff2'),
    url('./fonts/Portrait/portrait-bolditalic-web-webfont.woff') format('woff'),
    url('./fonts/Portrait/Portrait-BoldItalic-Web.ttf') format('truetype'),
    url('./fonts/Portrait/Portrait-BoldItalic-Web.svg') format('svg');
}
@font-face {
  font-family: 'SeroWebPro';
  src: url('./fonts/SeroWebPro.eot');
  src: url('./fonts/SeroWebPro.eot?#iefix') format('embedded-opentype'),
    url('./fonts/serowebpro-webfont.woff2') format('woff2'), url('./fonts/serowebpro-webfont.woff') format('woff'),
    url('./fonts/SeroCompPro.ttf') format('truetype');
}
@font-face {
  font-family: 'SeroMedium';
  src: url('./fonts/SeroWebPro-Medium.eot');
  src: url('./fonts/SeroWebPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/serowebpro-medium-webfont.woff2') format('woff2'),
    url('./fonts/serowebpro-medium-webfont.woff') format('woff'),
    url('./fonts/SeroCompPro-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'SeroBold';
  src: url('./fonts/SeroWebPro-Bold.eot');
  src: url('./fonts/SeroWebPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/serowebpro-bold-webfont.woff2') format('woff2'),
    url('./fonts/serowebpro-bold-webfont.woff') format('woff'), url('./fonts/SeroCompPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'SeroItalic';
  src: url('./fonts/SeroWebPro-Italic.eot');
  src: url('./fonts/SeroWebPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/serowebpro-italic-webfont.woff2') format('woff2'),
    url('./fonts/serowebpro-italic-webfont.woff') format('woff'),
    url('./fonts/SeroCompPro-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'SeroThin';
  // src: url($limelight + './fonts/SeroWebPro-Thin.woff') format('woff');
  src: url('./fonts/serowebpro-thin-webfont.woff2') format('woff2'),
    url('./fonts/serowebpro-thin-webfont.woff') format('woff');
}
@font-face {
  font-family: 'SeroLight';
  src: url('./fonts/SeroWebPro-Light.eot');
  src: url('./fonts/SeroWebPro-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/serowebpro-light-webfont.woff2') format('woff2'),
    url('./fonts/serowebpro-light-webfont.woff') format('woff');
}
