@import '_vars';

body.notification-pad {
  padding-top: 113px;
  #uncle-ross,
  #lvl-nine {
    top: 188px;
  }
  .sale-title-banner {
    top: 188px;
  }
  @media screen and (min-width: $sm-bp) {
    padding-top: 52px;
    #uncle-ross,
    #lvl-nine {
      top: 106px;
    }
    .sale-title-banner {
      top: 105px;
    }
  }
}
#non-supported-browser {
  width: 100%;
  position: fixed;
  min-height: 56px;
  background: #fff;
  text-align: center;
  z-index: 100;
  top: 0;
}

/* Off-Canvas Menu */

.off-campus-toggle {
  width: 24px;
  height: 24px;
  z-index: 3;
  cursor: pointer;
  border: none;
  &#left-campus {
    color: rgb(0, 0, 0);
    background: url(/images/hamburger.png) center no-repeat;
    background: url(/images/menu.svg) center no-repeat;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    margin-right: $sm-marginsize;
    float: left;
    display: block;
  }
  &#right-campus {
    width: 24px;
    height: 24px;
    z-index: 3;
    position: absolute;
    right: $mobileMargin;
    top: 50%;
    transform: translateY(-50%);
    background: url('/images/search.svg') no-repeat;
    background-size: 24px 24px;
  }
}

#uncle-ross {
  backface-visibility: hidden;
  width: 250px;
  visibility: hidden;
  top: $mobileHeader;
  bottom: 0;
  left: 0;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 0;
  font-family: $seroWebPro;
  font-size: em($sm-fontsize);
  z-index: 1001;
  box-sizing: content-box;
  transform: translateZ(0);
  transform-style: preserve-3d;
  @include transition-delay(0.1s);
  @include transition-duration(0.2s);
  @include transition-property(transform, visibility);
  @include transition-timing-function(cubic-bezier(0.4, 0, 0.2, 1));
  background: #fff;
  text-transform: uppercase;
  .off-canvas-wrapper {
    @include display(flex);
    @include flex-direction(column);
    @include align-content(stretch);
    min-height: 100%;
    position: relative;
    width: 250px;
    header {
      border-bottom: 1px solid rgb(105, 105, 105);
      margin: 0;
      .brand {
        width: 100%;
        padding: 20px 0;
        a {
          width: 190px;
          height: 22px;
          background-image: url(/images/img2013/brand-small.png);
          background-image: url(/images/LogoBlack.svg);
          border-bottom: none;
          position: relative;
          background-size: 190px 33px;
          background-position: 0 -5px;
          margin: 0 auto;
        }
      }
    }
    > ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      @include transform(translateZ(0));
      @include flex(1 1 auto);
      > li {
        margin: 0;
        width: 100%;
        padding: 0;
        font-family: $seroMedium;
        > a,
        > button {
          border: none;
          outline: none;
          display: block;
          box-sizing: border-box;
          width: 100%;
          color: rgb(0, 0, 0);
          text-decoration: none;
          text-align: left;
          line-height: 22px;
          padding: 11px 0px 11px 15px;
          background-color: transparent;
          background-image: url('/images/layout/aside-icons.png');
          font-family: $seroMedium;
          text-transform: uppercase;
          @include media(min-resolution 192dpi) {
            background-image: url('/images/layout/aside-icons-2x.png');
            background-size: 50px 1250px;
          }
          @include media(-webkit-min-device-pixel-ratio 2) {
            background-image: url('/images/layout/aside-icons-2x.png');
            background-size: 50px 1250px;
          }
          background-position: 205px -156px;
          background-repeat: no-repeat;
          &.section {
            &.open {
              background-position: 205px -56px;
            }
          }
          &:active,
          &:focus {
            outline: none;
          }
        }
        &.selected {
          > a,
          > button {
            background-color: $borderColor;
          }
          background: $borderColor;
          color: rgb(0, 0, 0);
        }
        &.no-children {
          border-bottom: 1px solid #787878;
          &.no-arrow {
            > a {
              background: transparent;
            }
          }
        }
        &.filler {
          // 45px(height of each menu item) * 10(# of menu items, add more when adding in login & signup for MP) * 55px(header height) = 505
          height: calc(100vh - 505px);
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          border-top: 1px solid rgb(120, 120, 120);
          overflow: hidden;
          height: 0;
          @include transition(all 0.5s ease-out);
          li {
            margin: 0;
            a {
              cursor: pointer !important;
              text-decoration: none;
              background: $borderColor;
              line-height: 22px;
              padding: 11px 15px;
              color: #000;
              display: block;
              border-bottom: 1px solid #787878;
              box-sizing: border-box;
            }
            &.dept-tca {
              a {
                line-height: 22px;
                padding-top: 11px;
                padding-bottom: 11px;
              }
            }
          }
          hr {
            margin: 0;
          }
        }
      }
    }
  }
}

#uncle-ross {
  @include transform(translateX(-250px));
  &.visible {
    visibility: visible;
    @include transform(translateX(0));
  }
}

#lvl-nine {
  @include backface-visibility(hidden);
  width: 250px;
  visibility: hidden;
  top: $mobileHeader;
  // bottom: 0;
  right: -250px;
  // height: 100%;
  position: fixed;
  //overflow-x: hidden;
  //overflow-y: hidden;
  margin-top: 0;
  font-family: $seroWebPro;
  font-size: em($sm-fontsize);
  z-index: 99;
  box-sizing: content-box;
  @include transform(translateZ(0));
  @include transform-style(preserve-3d);
  @include transition-delay(0.1s);
  @include transition-duration(0.2s);
  @include transition-property(transform, visibility);
  @include transition-timing-function(cubic-bezier(0.4, 0, 0.2, 1));
  will-change: transform, visibility;
  text-transform: uppercase;
  .off-canvas-wrapper {
    min-height: 100%;
    position: relative;
    header {
      border-bottom: 1px solid rgb(105, 105, 105);
      margin: 0;
      .brand {
        width: 100%;
        padding: $marginsize/2 0;
        a {
          width: 190px;
          height: 22px;
          background-image: url(/images/img2013/brand-small.png);
          background-image: url(/images/LogoBlack.svg);
          border-bottom: none;
          position: relative;
          background-size: 190px 33px;
          background-position: 0 -5px;
          margin: 0 auto;
        }
      }
    }
    > ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        margin: 0;
      }
      form {
        margin: 0;
        width: 100%;
        padding: 0;
        position: relative;
        .search-box {
          color: rgb(0, 0, 0);
          text-decoration: none;
          display: block;
          padding: $marginsize/2;
          width: 250px;
          &:focus,
          &:active {
            outline: none;
          }
          @include placeholder {
            color: black;
            font-family: $seroMedium;
          }
        }
        .submit {
          width: 24px;
          height: 24px;
          background: url('/images/search.svg') no-repeat;
          background-size: 24px 24px;
          cursor: pointer;
          border: none;
          position: absolute;
          top: 15px;
          right: 15px;
          z-index: 2;
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          border-top: 1px solid rgb(120, 120, 120);
          overflow: hidden;
          height: 0;
          @include transition(all 0.5s ease-out);
          li {
            // background: rgb(0, 0, 0);
            // padding: 1rem 0 1rem 2rem;
            margin: 0;
            a {
              cursor: pointer !important;
              text-decoration: none;
              background: rgb(0, 0, 0);
              padding: 1rem 0 1rem 2rem;
              color: rgb(255, 255, 255);
              display: block;
              border-bottom: 1px solid #787878;
            }
          }
          hr {
            margin: 0;
          }
        }
        .tt-menu {
          background: rgba(255, 255, 255, 1);
          width: 250px;
          .tt-selectable {
            cursor: pointer;
            padding: $marginsize/4 $marginsize/2 $marginsize/4 $marginsize/2;
            text-decoration: none;
            display: block;
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            &:first-child {
              padding-top: $marginsize/2;
            }
            &:last-child {
              padding-bottom: $marginsize/2;
            }
            &.tt-cursor {
              background: #eeeeee;
            }
          }
        }
      }
    }
  }
}

#lvl-nine {
  @include transform(translateX(0));
  &.visible {
    visibility: visible;
    @include transform(translateX(-100%));
  }
}

.exit-off-canvas {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -5;
  @include transition(visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1));
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include transform(translateZ(0));
  will-change: opacity, background-color;
  &.visible {
    opacity: 1;
    visibility: visible;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.5);
    @include transition-delay(0);
  }
}

.no-csstransforms {
  .left-off-campus-menu {
    left: -250px;
  }
  .move-right {
    > .inner-wrap {
      left: 250px;
    }
  }
}

header#primaryHeader {
  font-family: $seroWebPro;
  position: fixed;
  border-bottom: 1px solid $borderColor;
  background-color: rgba(255, 255, 255, 1);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  opacity: 1;
  min-height: $mobileHeader;
  .container {
    padding: $mobileMargin;
    margin: 0 auto;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    .brand {
      position: absolute;
      width: 181px;
      height: 20px;
      left: 50%;
      z-index: 10;
      @include transform(translateX(-50%));
      a {
        width: 191px;
        height: 24px;
        border-bottom: none;
        margin: 0;
        background-image: url(/images/img2013/brand-small.png);
        background-image: url(/images/LogoBlack.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
  }
  #primary-nav {
    display: none;
  }
  #secondary-nav,
  #user-nav {
    .row {
      display: none;
    }
  }
  #user-nav {
    a {
      &#userPage {
        width: 24px;
        height: 24px;
        background: url('/images/layout/ic_account_circle_black_48dp.png') no-repeat;
        background: url('/images/layout/ic_account_circle_48px.svg') no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
        &:hover,
        &:active {
          background: url('/images/layout/ic_account_circle_grey600_48dp.png') no-repeat;
          background: url('/images/layout/ic_account_circle_48px_hover.svg') no-repeat;
          -webkit-background-size: 100%;
          background-size: 100%;
        }
      }
    }
  }
}

// Footer //
iframe[name='google_conversion_frame'] {
  display: none;
}

div.footer-parent {
  clear: both;
  height: 100%;
  text-align: left;
  background-color: #000 !important;
  color: #fff;
  font-size: $tiny-fontsize;
  z-index: 95;
  font-family: $arial;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: none;
  a {
    color: #d1d3d4;
    text-decoration: none;
    font-weight: bold;
  }
  .footer-inner {
    background: #000;
    .footer-column {
      height: 240px;
      margin: 50px 0;
      border-left: 1px solid $greyOfTheBeast;
      position: relative;
      &:first-child {
        border-left: none;
      }
      ul {
        margin: 0;
        list-style: none;
        padding-left: 16%;
        position: absolute;
        left: 0;
        li {
          line-height: 21px;
          padding: 0;
          margin: 0;
          &:first-child {
            margin-bottom: 1px;
            text-transform: uppercase;
          }
          &.dept-tca {
            line-height: 15px;
          }
        }
        &.top {
          top: 0;
        }
        &.bottom {
          bottom: 0;
        }
        &.catalogues {
          top: 64px;
        }
      }
    }
  }
}

// Footer //

@media (min-width: $md-bp) {
  header#primaryHeader {
    nav {
      &#secondary-nav {
        position: absolute;
        right: 40px;
        top: 16px;
        @include flex-direction(row-reverse);
      }
    }
  }
}

// 1024px
@media (min-width: $ipad-landscape-bp) {
  .off-campus-toggle {
    &#right-campus {
      margin-left: $mobileMargin;
      // right: 0;
    }
  }
  header#primaryHeader {
    font-family: $seroWebPro;
    // position: relative;
    height: auto;
    .container {
      max-width: 1082px;
      .brand {
        max-width: 228px;
        width: calc(100% - 39px);
        left: 10em;
        top: 0.9em;
        margin-left: 0;
        a {
          background-image: url(/images/img2013/brand-small.png);
          background-image: url(/images/LogoBlack.svg);
          -webkit-background-size: 80%;
          background-size: 80%;
          // background-position: -40% 55%;
          max-width: 228px;
          width: 100%;
          height: 100%;
        }
        height: 24px;
      }
    }
    .row {
      align-items: center;
    }
    ul {
      padding: 0;
    }
    nav {
      align-self: center;
      display: flex;
      ul {
        border: none;
        margin: 0;
        width: auto;
        li {
          float: left;
          position: relative;
          // padding: 0 15px;
          border: none;
          margin: 0;
          // overflow: hidden;
          a,
          button {
            outline: none;
            border: none;
            display: inline-block;
            border-bottom: 3px solid transparent;
            font-size: em(12, 16);
            line-height: em(17, 12);
            font-family: $seroMedium;
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
            background-image: none;
            background: transparent;
          }
          &.search {
            float: right;
            form {
              max-width: 152px;
            }
          }
          &.selected {
            > a,
            > button {
              border-bottom: 3px solid $borderColor;
            }
          }
          &:hover {
            > a,
            > button {
              border-bottom: 3px solid $borderColor;
            }
          }
          ul {
            position: absolute;
            display: none;
            left: 0;
            background: #fff;
            padding: 0 $mobileMargin;
            overflow: hidden;
            hr {
              margin: 7px 0;
              border-top: 1px solid #ccc;
            }
            li {
              float: none;
              span {
                &.arrow-top {
                  position: relative;
                  display: block;
                  top: 0;
                  border-left: 15px solid transparent;
                  border-right: 15px solid transparent;
                  border-bottom: 15px solid black;
                  width: 15px;
                }
              }
              a {
                font-family: $seroMedium;
                border-bottom: 2px solid transparent;
                color: #000;
                white-space: nowrap;
                line-height: 28px;
                background-color: #fff;
                &:hover {
                  border-bottom: 2px solid $borderColor;
                }
              }
              padding: 0;
              &:first-child {
                margin-top: $mobileMargin * 2;
              }
              &:last-child {
                margin-bottom: $mobileMargin;
              }
            }
            &.show {
              display: block;
            }
          }
        }
        input {
          font-size: 0.75em;
          &.search-box {
            line-height: 22px;
            padding: 0 4px;
            border: 1px solid $borderColor;
            background-image: url('/images/layout/icons.png');
            background-repeat: no-repeat;
            width: 150px;
            height: 29px;
          }
          &.submit {
            width: 25px;
            height: 25px;
            background-color: transparent;
            cursor: pointer;
            border: none;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
      &#primary-nav {
        @include display(flex);
        .row {
          width: 100%;
          @include align-items(flex-start);
          > li {
            width: auto;
            @include flex(0 1 auto);
            a {
              margin: 0 $mobileMargin - 5px;
            }
            &:first-child {
              a {
                margin-left: 0;
              }
            }
          }
        }
      }
      &#secondary-nav,
      &#user-nav {
        // padding-right: $marginsize;
        .row {
          width: calc(100% - 15px);
          @include display(flex);
          > li {
            max-width: 50%;
            width: auto;
            @include flex(0 1 auto);
            text-align: right;
            padding: 0;
            &#userPage {
              width: 39px;
              height: 24px;
              max-width: 39px;
              background: url('/images/layout/ic_account_circle_black_48dp.png') no-repeat;
              background: url('/images/layout/ic_account_circle_48px_hover.svg') no-repeat;
              -webkit-background-position: 0% 0%;
              background-position: 0% 0%;
              -webkit-background-size: 24px 24px;
              background-size: 24px 24px;
              text-align: left;
              &:hover,
              &:active {
                background: url('/images/layout/ic_account_circle_grey600_48dp.png') no-repeat;
                background: url('/images/layout/ic_account_circle_48px.svg') no-repeat;
                -webkit-background-position: 0% 0%;
                background-position: 0% 0%;
                -webkit-background-size: 24px 24px;
                background-size: 24px 24px;
              }
              > a {
                width: 24px;
                height: 24px;
                border: 0px none;
                margin: 0;
              }
              ul {
                top: 24px;
              }
            }
            a {
              // margin-right: $mobileMargin - 5;
              margin-right: $mobileMargin + 5px;
            }
            &:last-child {
              a {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
    &.no-opacity {
      opacity: 0;
    }
    &.fixed {
      position: fixed;
      min-height: 59px;
      z-index: 20;
      top: 0;
      left: 0;
      .contents {
        padding: $mobileMargin;
      }
      .brand {
        width: 190px;
        margin: 0;
        float: left;
      }
      nav {
        &#primary-nav {
          width: 75%;
          float: right;
          > ul {
            @include display(flex);
            @include flex-flow(row);
            @include justify-content(flex-end);
            @include align-content(space-between);
            width: 100%;
            > li {
              @include flex(1 1 auto);
              &.search {
                @include flex(1 6 auto);
                max-width: 152px;
                min-width: 70px;
              }
            }
          }
        }
        ul {
          border: none;
          li {
            a {
              font-size: 0.75em;
              @include media(max-width 53rem) {
                font-size: 0.6em;
              }
              padding: 0 6px;
            }
          }
          input {
            &.search-box {
              padding: 0 4px;
              width: 100%;
              max-width: 152px;
              right: 0;
              &::-webkit-input-placeholder {
                color: rgb(117, 117, 117);
                font-size: 0.75em;
              }
              &:-moz-placeholder {
                /* Firefox 18- */
                color: rgb(117, 117, 117);
                font-size: 0.75em;
              }
              &::-moz-placeholder {
                /* Firefox 19+ */
                color: rgb(117, 117, 117);
                font-size: 0.75em;
              }
              &:-ms-input-placeholder {
                color: rgb(117, 117, 117);
                font-size: 0.75em;
              }
              &:focus {
                // width: 150px;
              }
            }
          }
        }
        &#secondary-nav,
        &#user-nav {
          top: 26px;
          display: none;
          li {
            &.search {
              display: block;
              form {
                position: relative;
                top: 0;
                left: 0;
              }
            }
          }
        }
      }
    }
    button {
      border: none;
      padding: 0;
    }
    #{$all-buttons-focus} {
      outline-style: none;
    }
  }
  div.footer-parent {
    display: block;
  }
  #uncle-ross {
    .off-canvas-wrapper {
      > ul {
        > li {
          &.filler {
            display: none;
          }
        }
      }
    }
  }
}

@media (min-width: 1112px) {
  header#primaryHeader {
    .container {
      padding: $sm-marginsize 0;
    }
  }
}
