@import 'fonts';
@import 'vars';
@import 'components';
@include favorite-lot;
@include follow-artist;

html {
  overflow-x: hidden;
}
.container.body-content.grid {
  border: 0;
}

.homepage {
  @include consignment-aside;
  @include private-services-banner;
  margin-top: 54px;
  position: relative;
  h2 {
    text-align: left;
    font-family: $portrait;
    font-size: 1.75em;
    text-transform: none;
  }

  strong {
    font-family: $seroMedium;
  }
  .add-button-wrapper {
    width: 100%;
  }
  .scroll-down {
    display: none;
    position: absolute;
    cursor: pointer;
    z-index: 20;
    left: 50%;
    background: rgba(0, 0, 0, 0.8);
    transform: translateX(-50%);
    top: calc(100vh - 107px);
    width: 3.25rem;
    height: 3.25rem;
    outline: none;
    border: none;
    &:active,
    &:focus {
      outline: none;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0.5rem;
      left: 0.85rem;
      width: 1.5rem;
      height: 1.5rem;
      border-left: 3px solid #fff;
      border-bottom: 3px solid #fff;
      transform: rotate(-45deg);
    }
    @media screen and (min-width: $sm-bp) {
      display: block;
    }
  }
  // caption text styles for Slides and Grid items
  .caption {
    pre {
      font-size: em(14);
      margin: 0 0 0.75rem 0;
      font-family: $seroWebPro;
      text-transform: uppercase;
    }
    h2 {
      font-size: em(28);
      font-family: $portrait;
      text-transform: none;
      margin: 0;
    }
    em,
    i {
      font-family: $portraitItalic;
    }
    p {
      font-size: em(18);
      font-family: $portrait;
      margin: 1rem 0;
      em,
      i {
        font-family: $portraitItalic;
      }
    }
  }
  .slick-next,
  .slick-prev {
    display: none !important;
  }
  .auction-video {
    position: relative;
    max-width: 1082px;
    margin: 0 auto;
    padding: 10px 30px 6em;
    border-bottom: 1px solid #ccc;
    .caption {
      overflow: hidden;
      margin-bottom: 25px;
      align-items: center;
      .right {
        text-align: right;
      }
      .eyebrow {
        margin-bottom: 0.5rem;
      }
      .video-link {
        display: inline-block;
        border: 1px solid #000;
        background: #fff;
        padding: 0.5rem 0;
        color: #000;
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        width: 100%;
        max-width: 184px;
      }
    }
    .video-wrapper {
      position: relative;
      width: 100%;
      padding-bottom: 56%;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }
  .hero-slider {
    position: relative;
  }
  .homepage-hero.cms .phillips-slider .slider-controls {
    display: block;
    .arrow-box.left {
      left: -50px;
    }
    .arrow-box.right {
      right: -50px;
    }
  }
  .phillips-slider {
    position: relative;
    height: calc(100vh - 55px);
    max-height: calc(100vh - 55px);
    margin-bottom: 4em;
    @media screen and (min-width: $sm-bp) {
      margin-bottom: 6em;
    }
    .slider-controls {
      position: absolute;
      z-index: 1000;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      @media screen and (min-width: $sm-bp) {
        display: none;
      }

      .arrow-box {
        position: absolute;
        width: 50px;
        height: 60px;
        background: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        &.left {
          left: 0;
        }
        &.right {
          right: 0;
        }
      }
      .prev,
      .next {
        top: 15px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        width: 1.75rem;
        height: 1.75rem;
        position: absolute;
        z-index: 5;
      }
      .prev {
        left: 50%;
        margin-left: -6px;
        transform: rotate(-45deg);
      }
      .next {
        right: 50%;
        margin-right: -6px;
        transform: rotate(135deg);
      }
    }
    .slides-wrapper {
      position: relative;
      height: 100%;
      max-height: 100%;
      overflow: hidden;
    }
    .phillips-slide {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      z-index: 1;
      transition: all 500ms cubic-bezier(0.35, 0.96, 0.75, 0.77);
      &.active {
        opacity: 1;
        z-index: 10;
      }
      a {
        text-decoration: none;
      }
    }
    .slide-image {
      position: relative;
      height: 100%;
      .image-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  .caption-slider {
    position: absolute;
    top: 4rem;
    left: 50%;
    background: rgba(0, 0, 0, 0.8);
    max-width: 95%;
    width: 100%;
    height: 200px;
    z-index: 20;
    overflow: hidden;
    transform: translateX(-50%);
    @media screen and (min-width: $sm-bp) {
      top: 2rem;
      left: 2rem;
      width: 350px;
      height: 140px;
      font-size: 10px;
      transform: translateX(0);
    }
    @media screen and (min-width: $md-bp) {
      left: 4rem;
      top: 4rem;
      width: 500px;
      height: 200px;
      font-size: 16px;
    }
    .slider {
      position: relative;
      height: 100%;
      overflow: hidden;
    }
    .slider-pagination {
      position: absolute;
      bottom: 1.5rem;
      left: 2rem;
      width: auto;
      margin: 0;
      padding: 0;
      list-style: none;
      z-index: 10;
      display: none;
      @media screen and (min-width: $md-bp) {
        display: block;
      }
      .dot {
        float: left;
        margin: 0 0.25rem;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        &.active button {
          opacity: 1;
        }
        button {
          border: 0;
          background: #fff;
          display: block;
          height: 15px;
          width: 15px;
          outline: none;
          line-height: 0;
          font-size: 0;
          color: transparent;
          padding: 5px;
          cursor: pointer;
          opacity: 0.25;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .caption-slide {
      float: left;
      height: 100%;
      padding: 33px 1.5rem 33px 2rem;
      min-width: 300px;
      @media screen and (min-width: $sm-bp) {
        min-width: 350px;
      }
      @media screen and (min-width: $md-bp) {
        min-width: 500px;
      }
    }
    .caption {
      pre {
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
      }
      p {
        margin: 0.5rem 0;
      }
    }
    a {
      text-decoration: none;
      color: #fff;
    }
    .track {
      width: 100%;
      @media screen and (min-width: $sm-bp) {
        width: 350px;
      }
      @media screen and (min-width: $md-bp) {
        width: 500px;
      }
    }
  }

  .phillips-video {
    margin-top: -20px;
    color: #000;
    padding-bottom: 4em;
    .video-wrapper {
      position: relative;
      width: 100%;
      max-width: 960px;
      min-height: 181px;
      height: 56.4vw;
      max-height: 541px;
      margin: 3em auto;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
    h2 {
      text-transform: none;
      font-weight: 900;
      text-align: left;
      margin: 0 auto 4rem auto;
      max-width: 960px;
      @media screen and (min-width: $sm-bp) {
        font-size: 3em;
      }
    }
    .text-wrapper {
      min-width: 300px;
      max-width: 960px;
      margin: 3em auto 1em auto;
      overflow: hidden;
      text-align: left;
      .view-editorial {
        display: inline-block;
        padding: 0.8125em 2em;
        margin: 1em 0;
        border: 3px solid #fff;
        color: #fff;
        text-align: center;
        text-decoration: none;
        width: 198px;
        @media screen and (min-width: $md-bp + 1) {
          margin: 2em 0;
        }
      }
      .feature-caption {
        padding: 0 1rem;
        // text-align: left;
        @media screen and (min-width: $md-bp) {
          padding-left: 0;
          padding-right: 3rem;
        }
        p {
          font-family: $seroWebPro;
          margin: 0;
          em,
          i {
            font-family: $portraitItalic;
          }
        }
        a {
          color: #fff;
        }
      }
      .feature-info {
        padding: 0 1rem;
        font-family: $portrait;
        margin-bottom: 1rem;
        @media screen and (min-width: $md-bp) {
          text-align: right;
          padding-right: 6em;
          padding-left: 0;
        }
        a {
          text-decoration: none;
          color: #fff;
        }
        h2 {
          text-transform: none;
          display: inline;
          font-size: em(40);
          font-family: $portrait;
          margin-bottom: 1rem;
        }
        p {
          margin: 0.25em 0;
          font-size: em(18);
          line-height: 1em;
          font-family: $portrait;
          em,
          i {
            font-family: $portraitItalic;
          }
        }
      }
    }
    .hp-video-thumbnails {
      padding: 0 15px;
      margin: 1em auto;
      width: 100%;
      max-width: 1112px;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      @media screen and (min-width: 578px) {
        flex-flow: row nowrap;
      }
      justify-content: space-between;
      li {
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: calc((33.33333% - 15px) * 0.5625);
        position: relative;
        width: calc(33.33333% - 15px);
        @media screen and (min-width: 578px) {
          padding-top: calc((25% - (90px / 4)) * 0.5625);
          width: calc(25% - (90px / 4));
        }
        div {
          position: absolute;
          padding: 0 15px;
          bottom: 0;
          background: rgba(0, 0, 0, 0.7);
          color: white;
          width: 100%;
          display: flex;
          flex-flow: row;
          justify-content: center;
          align-items: center;
          height: 37%;
          h2 {
            font-family: $seroWebPro;
            font-size: 14px;
            margin: 0;
            line-height: 18px;
          }
        }
        &.more-videos {
          display: flex;
          align-items: center;
          width: 100%;
          margin-top: 0;
          height: auto;
          @media screen and (min-width: 578px) {
            width: calc(25% - (90px / 4));
            padding-top: 0;
          }
        }
        a {
          cursor: pointer;
          text-decoration: none;
          // padding: 0.8125em 2em;
          margin: 1em auto;
          border: 1px solid #000;
          line-height: 42px;
          color: #000;
          text-align: center;
          width: 100%;
          display: inline-block;
        }
      }
    }
  }
  @include phillips-carousel {
    .edit-container {
      position: relative;
      width: 100%;
    }
  }
  @include phillips-lot {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    .description {
      padding-top: 0;
      width: 100%;
      max-width: 220px;
      .is-watch {
        font-size: em(13);
      }
    }
    .title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .phillips-artist {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    a {
      color: #000;
      text-decoration: none;
    }
    .description {
      padding-top: 1em;
      width: 100%;
      max-width: 220px;
      text-align: center;
      p {
        font-size: 0.8125em;
        margin: 0;
        &:first-child {
          margin-top: 1em;
        }
      }
      h3 {
        text-align: center;
        font-size: 1.125rem;
        font-family: $seroMedium;
        text-transform: none;
        margin-top: 10px;
        display: inline-block;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
      }
      .artist {
        text-transform: uppercase;
        font-size: 0.9375em;
      }
    }
    .phillips-social {
      margin-top: 0;
      .lot-group-actions {
        a {
          position: static !important;
          bottom: auto !important;
          &:not(.add-lot-group) {
            text-decoration: underline;
          }
        }
      }
      p.message {
        display: none !important;
        opacity: 0 !important;
      }
      a[data-favorite='maker'] {
        margin-top: 0;
        margin-left: 0;
        .social-icon {
          float: left;
        }
        &:after {
          content: 'Follow';
          display: block;
          float: left;
          line-height: 45px;
          margin-left: 10px;
        }
        &:hover {
          &:before {
            content: '';
          }
        }
        &.favorite {
          &:after {
            content: 'Followed';
          }
          &:hover {
            &:after {
              content: 'Unfollow';
            }
          }
        }
      }
    }
    &:hover h3 {
      border-bottom: 1px solid #ccc;
    }
  }
  .phillips-grid {
    padding-top: 0.5rem;
    > h2 {
      margin-left: 25px;
    }
    .show-more {
      cursor: pointer;
      text-decoration: none;
      display: block;
      // padding: 0.8125em 2em;
      margin: 1em auto;
      border: 1px solid #000;
      line-height: 42px;
      color: #000;
      text-align: center;
      width: 198px;
      @media screen and (min-width: $md-bp + 1) {
        margin: 2em auto;
      }
    }
  }
  .featuredContent {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    list-style-type: none;
    transition: height 5s ease-in-out;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    .grid-item {
      position: relative;
      float: left;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      a {
        text-decoration: none;
      }
      @media screen and (min-width: $sm-bp) {
        width: 50%;
      }
    }
    .image-container {
      padding-bottom: 78.6%;
    }
    .item-type {
      font-family: $seroLight;
    }
    .caption {
      display: block;
      text-decoration: none;
      color: black;
      font-family: $portrait;
      font-size: 0.8em;
      margin-top: 1.5rem;
      @media screen and (min-width: $sm-bp) {
        max-width: 80%;
      }
      p {
        font-family: $seroWebPro;
      }
    }
  }
  &__banner-module {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
    @media screen and (min-width: $md-bp) {
      border-bottom: 1px solid #9b9b9b;
      margin-bottom: 75px;
    }
    &__title {
      font-family: 'Portrait', serif;
      text-transform: none;
      font-size: 32px !important;
      width: 100%;
    }
    &__info {
      padding-bottom: 30px;
      line-height: 1.1em;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      @media screen and (min-width: $md-bp) {
        padding-bottom: 75px;
      }
    }
    &__cta {
      display: block;
      margin-top: 1rem;
      &--button {
        background: $white;
        border: 1px solid #000;
        color: #000;
        cursor: pointer;
        padding: 0.75rem 2rem;
      }
      @media screen and (min-width: $sm-bp) {
        display: inline;
        margin-top: 0;
      }
    }
  }
}
#lower-banner,
.body-content {
  margin-bottom: 3rem;
  // border-bottom: 1px solid #ddd;
}
#lower-banner {
  padding-left: 15px;
  padding-right: 15px;
  picture {
    display: block;
    text-align: center;
    img {
      width: auto;
      max-width: 100%;
    }
  }
  @media screen and (min-width: $lg-bp) {
    padding-left: 0;
    padding-right: 0;
  }
}
footer {
  overflow-x: hidden;
  h2 {
    text-transform: none;
    font-family: $portrait;
    font-weight: 900;
    font-size: 1.25em;
    text-transform: none;
    margin-bottom: 1rem;
    text-align: left;
    @media screen and (min-width: $md-bp) {
      font-size: 2rem;
    }
  }
  .footer-links {
    margin-bottom: 3rem;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding-top: 2rem;
    padding-left: 1rem;

    @media screen and (min-width: $md-bp) {
      padding-left: 0;
    }
    .catalogues {
      margin-bottom: 2rem;
      @media screen and (min-width: $md-bp) {
        margin: 0;
      }
    }
    a {
      text-decoration: none;
    }
    img.catalogue {
      max-width: 148px;
      @media screen and (min-width: $md-bp) {
        max-width: 198px;
      }
    }
    img.phone {
      max-width: 143px;
    }
    .image-container,
    .image-caption {
      float: left;
      max-width: 51%;
      @media screen and (min-width: $md-bp) {
        max-width: 60%;
      }
    }
    .auction-mobile .image-container {
      transform: translateY(19px);
      @media screen and (min-width: $md-bp) {
        transform: translateY(5px);
      }
    }
    .image-caption {
      padding-left: 1rem;
      padding-top: 1.5rem;
      img {
        margin-bottom: 1em;
      }
      @media screen and (min-width: $md-bp) {
        padding-left: 2rem;
        padding-top: 3rem;
        img {
          margin-bottom: 0;
        }
      }
    }
  }
  .footer-body {
    padding-bottom: 2.5rem;
    padding-top: 6rem;
    .signup-form {
      input[type='email'],
      button {
        background: none;
        vertical-align: top;
        border: 3px solid #000;
        max-width: 69%;
        height: 3em;
        margin: 0;
        border-radius: 0;
        outline: none;
        color: #000;
        &::-webkit-input-placeholder {
          color: #000;
        }
        @media screen and (min-width: $md-bp) {
          max-width: 75%;
        }
        @media screen and (min-width: $lg-bp) {
          width: 50%;
        }
      }
      input {
        border-right: 2px solid #000;
        padding: 15px;
      }
      button {
        border-left: 1px solid #000;
        height: 3em;
        padding: 0 15px;
        width: auto;
        margin-left: -4px;
        font-family: $seroBold;
        // font-weight: bold;
      }
      form,
      p,
      input,
      button {
        font-family: $seroWebPro;
      }
      p {
        // font-weight: bold;
        font-size: 0.9em;
      }
      .signup-text {
        width: 64%;
      }
      form,
      .form-response {
        margin-bottom: 3em;
      }
      .form-response {
        font-size: 1.25em;
        p {
          font-size: 1.5rem;
          &:first-child {
            margin: 2rem 0 0 0;
          }
        }
        p,
        a {
          font-family: $portrait;
        }
      }
    }
    .follow-links,
    .site-links {
      display: block;
      padding: 0;
      margin: 1rem 0;
      list-style: none;
      overflow: hidden;
    }
    .site-link,
    .follow-link {
      float: left;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .site-link {
      margin: 0 0.5em;
    }
    .follow-link {
      width: 50px;
      height: 50px;
      margin: 0 0.25em;
      background: url('https://phillips.vo.llnwd.net/v1/web_prod/Content/footer_social.svg');
      background-size: cover;
      background-repeat: no-repeat;
      &.instagram {
        background-position: -6px;
      }
      &.facebook {
        background-position: -60px;
      }
      &.twitter {
        background-position: -111px;
      }
      &.pintrest {
        background-position: -164px;
      }
      &.we-chat {
        background-position: -230px;
        position: relative;
        &.we-chat-btn {
        }
      }
      a,
      button {
        display: block;
        height: 100%;
      }
      button {
        width: 100%;
        border: none;
        background: transparent;
      }
    }
    #qr-code {
      position: absolute;
      width: 100%;
      background: #eaeaea;
      left: 0;
      display: none;
      margin: 0;
      top: -282px;
      #qr-code-image {
        width: 250px;
        height: 250px;
        background: url('/Content/homepage/wechat_qr_mobile.png');
        background-size: cover;
        margin: 0 auto;
      }
      &.show {
        display: block;
      }
      #qr-code-close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 18px;
      }
      @media screen and (min-width: 768px) {
        left: 220px;
        top: -86px;
        width: auto;
        #qr-code-close {
          display: none;
        }
        #qr-code-image {
          background: url('/Content/homepage/wechat_qr_desktop.png');
          width: 124px;
          height: 124px;
          background-size: cover;
        }
      }
      @media screen and (min-width: 907px) {
        top: -33px;
        left: 285px;
      }
    }
  }
  &.bkg-grey {
    background: #eaeaea;
    margin-bottom: -1rem;
  }
}

.body-content,
#lower-banner,
.footer-links,
.footer-body {
  @media screen and (min-width: $lg-bp) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1236px;
  }
}

.no-touch {
  .homepage {
    .phillips-lot {
      @media screen and (min-width: $md-bp) {
        .phillips-social {
          margin-top: 0;
        }
      }
    }
  }
}
