@import 'vars';

// LAYOUT COL-START
.container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  padding-right: $sm-marginsize;
  padding-left: $sm-marginsize;
  margin-right: auto !important;
  margin-left: auto !important;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex: 1 0 100%;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
.visible-md {
  display: none;
}
.hidden-xs {
  display: none;
}
.hidden-sm {
  display: none;
}
@media screen and (min-width: $sm-bp) {
  .container {
    width: 100%;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
  .hidden-xs {
    display: initial;
  }
  .hidden-sm {
    display: none;
  }
}
@media (min-width: $md-bp) {
  .container {
    width: 100%;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .visible-md {
    display: block !important;
  }
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: $lg-bp) {
  .container {
    max-width: 1082px;
    padding: 0;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
//LAYOUT COL-END
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

html,
body {
  min-height: 100%;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: $basefontsize;
  font-family: $seroWebPro;
  -ms-text-size-adjust: 100%;
  min-width: 0;
  &.disable-scroll {
    overflow: hidden !important;
    body {
      overflow: hidden;
    }
  }
}

.main-container {
  margin-top: $mobileHeader;
  background-color: #fff;
  padding-bottom: $marginsize;
  min-height: calc(100vh - 340px);
  // @include calc(min-height, "100vh - 340px");
  &#artist-lot-list .filter-controls span {
    cursor: pointer;
  }
  &.no-margin-top {
    margin-top: 0;
  }
  &.minimum-height {
    min-height: 470px;
  }
  .has-left-aside,
  .has-right-aside {
    position: relative;
  }
  .has-left-aside .content-body {
    padding-top: 0;
    .content-body {
      padding: 0;
    }
  }
  .has-right-aside .content-body {
    padding-bottom: 0;
    .content-body {
      padding: 0;
    }
  }
  .content-area {
    padding-top: $sm-marginsize;
    overflow-x: visible;
    &.video-description {
      min-height: 216px;
      h2 {
        margin-top: calc(0.83em - #{$sm-marginsize});
      }
    }
    &#live-auction-index {
      header {
        margin-bottom: 3.125em;
      }
    }
    &.has-sale-banner {
      padding-top: $mobileMargin + $mobileSaleBanner + $mobileHeader;
    }
    .content-body {
      .main-image {
        width: 1000px;
        height: 563px;
        background-color: $borderColor;
      }
      .deptName {
        font-size: 2.25em;
      }
      .view-more-press {
        margin: -2.5em 0 0;
        padding-bottom: 2.5em;
      }
    }
  }
  .content-body {
    p:first-child {
      margin-top: 0;
    }
  }
  .has-main-image .content-body {
    padding-bottom: 0;
  }
  &#liveAuction {
    div#upcoming-live-auctions {
      .button {
        width: 100%;
        text-align: center;
      }
    }
    aside#primaryAside {
      .short-list {
        margin: $marginsize 0;
      }
    }
    .row {
      &#app-store {
        border-top: 1px solid $borderColor;
        padding-top: $marginsize;
        margin-top: $marginsize;
        span {
          width: 100%;
          margin-top: $marginsize;
          display: inline-block;
        }
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $seroWebPro;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1em;

  &:first-child {
    margin-top: 0;
  }

  a {
    text-decoration: none;
  }
}

h1 {
  margin: 0.67em 0;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17rem;
  margin: 1em 0;
}

h4 {
  margin: 1.33em 0;
  font-family: $seroMedium;
  font-size: $medium-fontsize;
  display: inline;
}

h5 {
  margin: 1.67em 0;
  font-size: 0.813rem;
  display: inline;
  font-family: $seroWebPro;
}

h6 {
  font-size: 0.67rem;
  margin: 2.33em 0;
}

h1 {
  a.download {
    display: block;
    position: relative;
    text-decoration: none;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 29px;
      height: 34px;
      background-image: url(/images/layout/large-icons.png);
      background-repeat: no-repeat;
      background-position: -61px -208px;
    }
  }
  &.news {
    margin-top: 1em;
  }
}

p {
  font-family: $seroWebPro;
  line-height: 1.375em;
  &:last-child {
    margin-bottom: 0;
  }
  &.view-more {
    text-transform: uppercase;
    font-size: em($medium-fontsize);
    margin: 0;
  }
}
strong {
  font-family: $seroBold;
  font-weight: normal;
}
em {
  font-family: $seroItalic;
  font-style: normal;
}

.hong-kong {
  font-family: $jhengHei !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  li,
  span,
  strong {
    font-family: $jhengHei !important;
    &.sero {
      font-family: $seroWebPro !important;
    }
    &.seroMedium {
      font-family: $seroMedium !important;
    }
    &.active {
      font-family: $seroMedium !important;
    }
  }
  h2 {
    font-weight: 600;
    text-transform: none;
  }
  strong {
    font-weight: 700;
  }
  &#buyers-guide,
  &#conditions-of-sale {
    margin-top: $marginsize;
  }
}

.portrait {
  font-family: $portrait;
  text-transform: none;
}

a {
  color: #000;
  &:focus {
    outline: none;
  }
}
hr {
  height: 1px;
  background-color: $borderColor;
  border: none;
  margin: 2rem 0;
  &.thin {
    margin: 0;
  }
}
li {
  margin: 1rem 0;
}
img {
  width: auto;
  max-width: 100%;
  &.app-store-logo {
    width: 100%;
    max-width: 170px;
    margin-left: $mobileMargin;
    margin-right: $marginsize;
  }
}
.alert {
  color: $greyOfTheBeast;
  font-size: em($basefontsize);
  font-family: $seroWebPro;
  margin-bottom: $marginsize;
  position: relative;
  cursor: pointer;
  &:after {
    content: 'X';
    font-family: $seroBold;
    display: inline;
    padding: $marginsize/4;
  }
  &.alert-success {
    color: $green;
  }
  &.alert-info {
    color: rgb(115, 158, 168);
  }
  &.alert-warning {
    color: rgb(255, 209, 63);
  }
  &.alert-danger {
    color: $red;
  }
}
.alert-window-html {
  background-color: #fff;
  width: 470px;
  position: relative;
  top: 100px;
  left: 50%;
  margin-left: -285px;
  z-index: 100;
  max-height: 750px;
  overflow: auto;
  font-family: $seroWebPro;
  .alert-header {
    font-family: $seroMedium;
    padding: $sm-marginsize 25px;
    border-bottom: 1px solid $borderDark;
    line-height: $extra-large-fontsize;
    text-transform: uppercase;
  }
  .alert-close {
    background-color: #fff;
    background-image: url('/images/layout/small-icons.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 101;
    top: 15px;
    right: 25px;
    cursor: pointer;
  }
  .alert-content {
    text-align: center;
    padding: 50px 25px;
    .button {
      display: block;
      width: 215px;
      position: relative;
      z-index: 101;
      margin: 0 auto;
    }
    .logoff {
      background-color: #000;
      font-family: $seroMedium;
      display: block;
      color: #fff;
      height: 32px;
      line-height: 32px;
      padding: 0 $sm-marginsize;
      font-size: 0.8125em;
      text-transform: uppercase;
      text-decoration: none;
      border: none;
      width: 215px;
      position: relative;
      z-index: 101;
      margin: 0 auto;
    }
    p {
      &.seroMedium {
        font-family: $seroMedium;
      }
    }
    a {
      &.contact {
        text-transform: uppercase;
        text-decoration: underline;
        font-family: $seroWebPro;
        &:hover {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
  &.bidCalc {
    .alert-content {
      padding: 25px;
      text-align: left;
      table {
        tr {
          line-height: 40px;
          td {
            &:first-child {
              width: 225px;
            }
            &:last-child {
              width: 245px;
            }
          }
          &.estCost {
            border-top: 1px solid $borderDark;
            border-bottom: 1px solid $borderDark;
            font-family: $seroMedium;
          }
        }
      }
    }
  }
  &.incReg {
    .alert-content {
      padding: 50px 100px;
    }
  }
  &.logIn {
    .alert-content {
      padding: 50px 105px;
      p {
        &:nth-child(3) {
          margin-bottom: 0;
        }
        &:last-child {
          margin-top: 0;
          a {
            text-transform: uppercase;
            font-family: $seroMedium;
          }
        }
      }
    }
  }
}
a.invisible-link {
  text-decoration: none;
  color: #000;
  cursor: text;
}
form {
  .form-group {
    margin: 1em 0;
    label {
      font-family: $seroWebPro;
    }
  }
}
.button {
  background-color: #000;
  font-family: $seroMedium;
  color: #fff;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 $sm-marginsize;
  font-size: em($sm-fontsize);
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  &.large {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: em($medium-fontsize);
    height: 40px;
    line-height: 42px;
  }
  &#showmore {
    display: none;
  }
}
.box {
  border: 2px solid $borderDark;
  padding: $marginsize/2 $sm-marginsize;
  line-height: 1.84165em;
  font-size: em($sm-fontsize);
  max-width: 225px;
  section {
    padding: 1.3em 0;
    &:first-child {
      padding: 0;
    }
  }
  h5 {
    text-transform: uppercase;
    margin: 0;
    color: #000;
  }
  p {
    margin: 0;
  }
}

.grey-of-the-beast {
  color: $greyOfTheBeast;
}
.grey-box {
  background-color: $light;
  padding: $sm-marginsize/2;
  display: inline-block;
  margin-bottom: $sm-marginsize;
  font-size: em($medium-fontsize);
  line-height: em($lg-fontsize, $medium-fontsize);
  a.button {
    margin-left: $sm-marginsize;
  }
}
